body {
  margin: 0;
}

header {
  background-color: rgb(19, 114, 0);
  display: flex;
  flex-wrap: wrap; /* so navbar will go under logo on small smartphones */
  align-items: baseline;
  padding: 0.5rem;
  justify-content: space-between;
}

.logo {
  width: 200px;
  margin-top: 16px;
  cursor: pointer;
}
