


<header class="header">
  <h1 class="logo"><a href="#">Hunters Tavern</a></h1>
    <ul class="main-nav">
        <li><a  *ngIf = isLogado() routerLink="/Cadastrar novo Hunter">Cadastrar novo Hunter</a></li>
        <li><a  *ngIf = isLogado() routerLink="/Editar Hunter">Editar Hunter</a></li>
        <li><a  *ngIf = isLogado() routerLink="/Excluir Hunter">Excluir Hunter</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a  *ngIf = isLogado() href="#">Usuário</a></li>
    </ul>
</header> 
