/*main {
  background: url("/assets/imagens/hunter_x_hunter_leorio_wallpaper.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}*/

main {
  background-color:rgb(19, 114, 0);


}


